body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
}

#library-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15;
    margin-top: 20px;
}
.book-card {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
 button {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
.read-btn {
    background-color: #4caf50;
    color: beige;
}
.unread-btn {
    background-color: #f44336;
    color: beige;
}
.remove-btn {
    background-color: #555;
    color: blanchedalmond;
}
.hidden {
    display: none;
}